@import "./configs/config.scss";
@import "./header/header.scss";
@import "./home/home.scss";
@import "./projects/projects.scss";
@import "./contact/contact.scss";
@import "./about/about.scss";
@import "./admin/admin.scss";
// Estilos Globais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: $color1 no-repeat;
  color: white;
  height: 100vh;
}

// Animações
@keyframes fade-in {
  from {
    filter: drop-shadow(10px 5px 10px rgba(255, 255, 255, 0.3));
  }
  to {
    filter: drop-shadow(10px 5px 10px rgba(255, 255, 255, 0.5));
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes erasing {
  from {
    width: 17ch;
  }
  to {
    width: 0;
  }
}

@keyframes backgroundAnimation {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-20px) scale(1.05);
  }
  50% {
    transform: translateY(20px) scale(0.95);
  }
}
