@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Inter:wght@200;400;600;800&display=swap");
.footer_subContainer {
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_me {
  width: 60vw;
  height: 65vh;
  border: 1px solid #5e5efc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  position: relative;
}

.footer_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #5e5efc;
  position: absolute;
  top: -60px;
  left: auto;
}

.footer_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about_description {
  width: 70%;
  text-align: center;
  margin-top: 5vh;
}

.about_description h3 {
  font-family: "Bebas neue";
  font-size: 2.4rem;
}

.about_description p {
  font-family: "Abel";
}

.footer {
  width: 100vw;
  height: 20vh;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin: 8px 0;
  background-color: #5e5efc;
  color: #fff;
  border: 1px solid #333;
  transition: all 0.5s;
  font-size: 1.2rem;
}

.footer button:hover {
  transition: all 0.5s;
  background-color: transparent;
  cursor: pointer;
  border-color: #222;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links .link {
  margin: 0 16px;
  background-color: #222;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
  padding: 0.3rem;
}

.links .link:hover {
  transition: all 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 600px) {
  .about_me {
    width: 100vw;
    height: auto;
    padding: 0.5rem;
  }
  .about_description {
    width: 80%;
    margin-top: 10vh;
  }
  .links .link {
    padding: 0.2rem;
    margin: 0 6px;
    width: 40px;
    height: 40px;
  }
  .footer button {
    padding: 0.3rem 1rem;
  }
}

.projects_container {
  width: 100vw;
  min-height: 100vh;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 3s ease;
}

.scrolled {
  background-color: #ddd;
  /* Cor de fundo quando o scroll ocorre */
}

.projects_subContainer {
  margin-top: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #222;
}

.projects_subContainer h1 {
  text-align: center;
  margin: 8px 0 32px 0;
}

.project_container {
  display: flex;
  justify-content: space-around;
  margin: 5vh 0;
  animation: show 2s;
  transition: all 1s;
}

.project {
  width: 40vw;
  height: auto;
  background-color: #222;
  margin: auto 36px;
}

.project h3 {
  font-size: 2.1rem;
  text-align: center;
  margin: 16px 0 8px 0;
  font-family: "Bebas neue";
}

.project p {
  text-align: center;
  width: 60%;
  margin: auto;
  font-family: "Abel";
  margin: 0 0 8px 0;
}

.project div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin: 8px 0;
  background-color: #5e5efc;
  color: #fff;
  border: 1px solid #333;
  transition: all 0.5s;
  font-family: "Bebas neue";
  font-size: 1.2rem;
}

.project button:hover {
  transition: all 0.5s;
  background-color: transparent;
  cursor: pointer;
}

.project_image {
  width: 90%;
  height: 50%;
  background-color: #151515;
  margin: auto;
  border-radius: 0.5rem;
}

.project_image img {
  width: 100%;
  height: 100%;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  backface-visibility: hidden;
}

#description_mobile {
  display: none;
}

@media (max-width: 600px) {
  .project_container {
    flex-direction: column;
  }
  .project_container .project {
    width: 100vw;
    height: 100%;
    margin: 2vh 0;
    padding: 0.5rem;
  }
  .project_container .project_image {
    width: 100%;
    height: auto;
  }
  #description {
    display: none;
  }
  #description_mobile {
    display: flex;
  }
}

@media (max-width: 800px) {
  .project p {
    width: 90%;
  }
}

.slider_container {
  width: 100vw;
  height: 40vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider_subContainer {
  height: 90%;
  overflow: hidden;
  max-width: 750px;
}

.slider_subContainer h1 {
  text-align: center;
  margin-bottom: 0.7rem;
}

.skills_container {
  display: flex;
  transition: transform 1s ease-in-out;
}

.skill {
  margin: 0.5rem;
  min-width: 200px;
  height: 150px;
  background-color: rgba(51, 51, 51, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.skill img {
  width: 80%;
  height: 80%;
}

@media (max-width: 600px) {
  .skills_container .skill {
    height: 100px;
    transform: translateX(-70px);
  }
}

.home_container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 60vw;
  height: 80vh;
  border: 3px solid #222;
  border-radius: 0.5rem;
  flex-direction: column;
}

.profile h3 {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  color: #00ffff;
}

.profile p {
  font-size: 1.3rem;
  font-family: monospace;
  border-right: 4px solid;
  width: 24ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(24), bliking 0.5s infinite step-end alternate;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #222;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.home_container,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes bliking {
  50% {
    border-color: transparent;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
  transition: opacity 0.5s;
}

.icons div:hover {
  transition: 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}

#download {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: #00ffff;
}

#download:hover {
  transition: 0.5s;
  background-color: transparent;
  border-color: #00ffff;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .profile {
    width: 100vw;
  }
}

.header_container {
  width: 60vw;
  height: 10vh;
  background-color: #333;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header_menu li {
  margin: 0 16px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  font-family: "Abel", sans-serif;
  color: #fff;
}

.header_menu li:hover {
  transition: 0.5s;
  border-color: #00ffff;
  color: #00ffff;
  opacity: 0.5;
}

.header_logo {
  color: #fff;
  transition: 0.5s;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.3rem;
}

.header_logo:hover {
  color: #00ffff;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
}

@media (max-width: 600px) {
  .header_logo {
    font-size: 1.2rem;
  }
  .header_menu li {
    font-size: 0.9rem;
  }
  .header_container {
    width: 100vw;
  }
}

*,
#app,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter";
}

#app,
body {
  background-color: #151515;
  color: #fff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
