// ----- Projects Styles -----

.projects_container {
  width: 100vw;
  min-height: 100vh;
  background-color: $colorSemiBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 3s ease;
}
.scrolled {
  background-color: #ddd; /* Cor de fundo quando o scroll ocorre */
}
.projects_subContainer {
  margin-top: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $colorDarkGray;
  & h1 {
    text-align: center;
    margin: 8px 0 32px 0;
  }
}
.project_container {
  display: flex;
  justify-content: space-around;
  margin: 5vh 0;
  animation: show 2s;
  transition: all 1s;
}
.project {
  width: 40vw;
  height: auto;
  background-color: $colorDarkGray;
  margin: auto 36px;
  border-radius: 0.5rem;
  & h3 {
    font-size: 2.1rem;
    text-align: center;
    margin: 16px 0 8px 0;
    font-family: "Bebas neue";
  }
  & p {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: "Abel";
    margin: 0 0 8px 0;
  }
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  & button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin: 8px 0;
    background-color: $colorEletricBlue;
    color: $colorWhite;
    border: 1px solid $colorGray;
    transition: all 0.5s;
    font-family: "Bebas neue";
    font-size: 1.2rem;
    &:hover {
      transition: all 0.5s;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
.project_image {
  width: 90%;
  height: 50%;
  background-color: #151515;
  margin: auto;
  border-radius: 0.5rem;
  & img {
    width: 100%;
    height: 100%;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
  backface-visibility: hidden;
}
#description_mobile {
  display: none;
}
@media (max-width: 600px) {
  .project_container {
    flex-direction: column;
    & .project {
      width: 100vw;
      height: 100%;
      margin: 2vh 0;
      padding: 0.5rem;
    }
    & .project_image {
      width: 100%;
      height: auto;
    }
  }
  #description {
    display: none;
  }
  #description_mobile {
    display: flex;
  }
}
@media (max-width: 800px) {
  .project p {
    width: 90%;
  }
}
