.section-container {
  color: #4b5563;
}
.section-container .content-container {
  max-width: 100%;
  padding: 0 1.25rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 0 auto;
}
.section-container .header-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5rem;
}
.section-container .title-container {
  width: 100%;
  margin-bottom: 1.5rem;
}
.section-container .main-title {
  font-size: 1.875rem;
  font-weight: 500;
  color: #e0e0e0;
  margin-bottom: 0.5rem;
}
.section-container .title-underline {
  height: 2px;
  width: 5rem;
  background-color: #6366f1;
  border-radius: 0.25rem;
}
.section-container .description-text {
  width: 100%;
  line-height: 1.625;
  color: #e0e0e0;
}
.section-container .search-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  gap: 1rem;
  width: 100%;
  max-width: 40rem;
  justify-content: center;
  color: #e0e0e0;
}
.section-container .search-container span {
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.section-container .search-container span:hover {
  border-color: #6366f1;
}
.section-container .search-container span.active {
  border-color: #6366f1;
}
.section-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  width: 100%;
}
.section-container .card-wrapper {
  padding: 1rem;
  width: 33%;
}
.section-container .card {
  background-color: #191919;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.section-container .card-image {
  height: 20rem;
  width: 100%;
  border-radius: 0.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
}
.section-container .card-subtitle {
  letter-spacing: 0.1em;
  color: #6366f1;
  font-size: 0.75rem;
  text-transform: uppercase;
  font: bold;
  background-color: #333;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.section-container .card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #fff;
}
.section-container .card-text {
  line-height: 1.625;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  height: 5rem;
  color: #e0e0e0;
}
.section-container .card-link {
  text-decoration: none;
}
.section-container .card-link button {
  width: 100%;
  height: 3rem;
  background-color: #6366f1;
  color: white;
  border: 2px solid transparent;
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 0.3rem;
}
.section-container .card-link button:hover {
  border-color: #6366f1;
  background-color: transparent;
}
@media (min-width: 640px) {
  .section-container .cards-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .section-container .main-title {
    font-size: 1.5rem;
  }
  .section-container .title-container {
    width: 50%;
    margin-bottom: 0;
  }
  .section-container .card-wrapper {
    width: 50%;
  }
  .section-container .description-text {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .section-container .card-wrapper {
    width: 100%;
    padding: 0;
  }
  .section-container .card-wrapper .card {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .section-container .cards-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .section-container .card-wrapper {
    width: 33%;
  }
}/*# sourceMappingURL=projects.css.map */