// Seção Contato
.contact-container {
  display: flex;
  width: 100%;
  height: 90vh;
  color: $color2;

  .contact-left,
  .contact-right {
    width: 50%;
    height: 100%;
  }

  .contact-left {
    @include flex-center-col;

    h1 {
      font-size: $font-lg;
      font-weight: 500;
      width: 80%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: $space-xs;
      width: 80%;
      margin-top: $font-m;

      .name-container {
        display: flex;

        div {
          width: 50%;

          input {
            width: 100%;
          }

          &:last-child {
            margin-left: 5%;
          }
        }
      }

      input,
      textarea {
        height: 3rem;
        border-radius: $space-xs;
        border: none;
        margin-top: $space-xs;
        background-color: transparent;
        border: 1px solid $color6;
        color: $color2;
        padding: $font-s;
      }

      textarea {
        height: 6rem;
      }

      input[type="submit"] {
        background-color: $color6;
        color: $color2;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          background-color: $color3;
        }
      }
    }

    .contact-icons {
      display: flex;
      gap: $font-s;
      margin-top: $font-s;
      padding: $space-xs;

      a {
        @include flex-center;
        width: $font-xl;
        height: $font-xl;
        padding: $space-xs;
        border: 1px solid $color6;
        border-radius: 50%;
        font-size: $font-m;
        cursor: pointer;

        .icon {
          width: $space-md;
          height: $space-md;
          color: $color2;
        }

        &:hover {
          transition: 0.5s ease-in-out;
          background-color: $color6;
        }
      }
    }
  }

  .contact-right {
    @include flex-center-col;

    h1 {
      font-size: $font-lg;
      font-weight: 500;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 768px) {
  .contact-container {
    .contact-right {
      display: none;
    }
    .contact-left {
      width: 100%;
    }
  }
}
