// ----- Home Styles -----

.home_container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 60vw;
  height: 80vh;
  border: 3px solid $colorDarkGray;
  border-radius: 0.5rem;
  flex-direction: column;
  & h3 {
    font-size: 2rem;
    font-family: $fontNeue;
    color: $colorCyan;
  }
  & p {
    font-size: 1.3rem;
    font-family: monospace;
    border-right: 4px solid;
    width: 24ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(24), bliking 0.5s infinite step-end alternate;
  }
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $colorDarkGray;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
.home_container,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes bliking {
  50% {
    border-color: transparent;
  }
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  & div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $colorCyan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0.5rem;
    transition: opacity 0.5s;
    &:hover {
      transition: 0.5s;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
.icon {
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}
// ----- Home Styles -----
