// Colors And Fonts

$colorGray: #333;
$colorDarkGray: #222;
$colorSemiBlack: #151515;
$colorWhite: #fff;
$color: #ccc;
$colorSkyblue: #87ceeb;
$colorCyan: #00ffff;
$colorEletricBlue: #5e5efc;

$fontAbel: "Abel", sans-serif;
$fontAnton: "Anton", sans-serif;
$fontNeue: "Bebas Neue", sans-serif;
$fontInter: "Inter", sans-serif;
