// Header
.header {
  width: 100%;
  height: 10vh;
  @include flex-around;
  padding: 0 $space-md;
  gap: $space-xs;

  a {
    color: white;
    text-decoration: none;
    @include flex-center;
    &:hover {
      color: $color6;
    }
  }

  .logo {
    font-size: $font-m;
  }

  div {
    @include flex-around;
    gap: $space-xs;
  }
}
